/* @file styles.css */
/* @brief Основные стили для страниц приложения */
/* @version 1.0 */
/* @date 16.04.2024 */

body {
    font: 14px sans-serif;
    text-align: center;
}

.wrapper {
    width: 350px;
    padding: 20px;
    margin: 0 auto;
}

form .form-group {
    margin-bottom: 1rem;
}

.has-error .help-block {
    color: #a94442;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.btn-primary, .btn-danger {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary:hover, .btn-danger:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
}

.link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.link:hover {
    color: #0056b3;
    text-decoration: underline;
}